<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>All Users</title>
</head>

<body>
	<h1>Find other users that have the same temperature preferences</h1>
	<form action="https://cmsc335-final-2tgl.onrender.com/allUsers" method="post">
		<label><strong>Find similar users by typing imperial or metric:</strong></label> <input type="text" name="temp"/>
		<input type="submit" value="Submit Request"/>
		<br>
		<hr>
		<a href="/">HOME</a>
	</form>		
</body>

</html>
