<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Place Order</title>
</head>

<body>
	<h1>Application</h1>
	<form action="https://cmsc335-final-2tgl.onrender.com/apply" method="post" onsubmit="return window.confirm('Are you sure you want to submit your application?\nYou will not be able to change your information once submitted.');">
		<fieldset>
			<label><strong>Name:</strong></label> <input type="text" name="name"/>
			<label><strong>Email Address:</strong></label> <input type="email" name="email"/>
			<br><br>
			<label><strong>GPA:</strong></label> <input type="text" name="gpa"/>
			<br><br>
			<label><strong>Background Information:</strong></label>
			<br>
			<textarea rows="5" cols="80" name="backgroundInfo"></textarea>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
		<br>
		<hr>
		<a href="/">HOME</a>
	</form>		
</body>

</html>
