<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather App</title>
</head>

<body>
	<h1>Login and add yourself to the weather database!</h1>
	<h2>Login and show data: <a href="/userLogin">Login</a></h2>
	<h2>Check database</h2>
	<ul>
		<li>User: List of all members <a href="/allUsers">List</a></li>
		<li>Admin: To remove all users <a href="/adminRemove">Remove Users</a></li>
	</ul>
</body>

</html>
