<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>User Login</title>
</head>

<body>
	<h1>Application</h1>
	<form action="https://cmsc335-final-2tgl.onrender.com/noUserLogin" method="post">
		<fieldset>
			<label><strong>City name:</strong></label> <input type="text" name="city" required/>
			<br><br>
			<select name="temp" id="temp" required>
				<option value="imperial">Fahrenheit</option>
				<option value="metric">Celcius</option>
			</select>
			<br>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
		<br>
		<a href="/">HOME</a>
	</form>		
</body>

</html>
