<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<body>
	<h1>Display GFA Greater than or Equal to</h1>
	<div>
		<%- table %>
	</div>
	<br>
	<hr>
	<a href="/">HOME</a>
</body>

</html>
