<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GFA</title>
</head>

<body>
	<h1>Removal of All Applications</h1>
	<p>All applications have been removed from the database. Number of applications removed: <%- num %></p>		
	<br>
	<hr>
	<a href="/">HOME</a>
</body>

</html>
