<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Review Application</h1>
	<form action="http://localhost:<%- portNum %>/reviewApplication" method="post">
		<fieldset>
			<label><strong>Email Address:</strong></label> <input type="email" name="email"/>
			<br><br>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Request"/>
		<br>
		<hr>
		<a href="/">HOME</a>
	</form>		
</body>

</html>
