<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Other Users</title>
</head>

<body>
	<h1>Here are all the users that also use the same temperature preferences</h1>
	<div>
		<%- table %>
	</div>
	<br>
	<a href="/">HOME</a>
</body>

</html>
